### Objective:
- The objective from this task is to use your NLP skills to build a ML model can <b>classify the news categories</b>.
- Try hard to get the maximum value of the preferable evaluation metric using any technique.
- <b>Concat headlines and short descriptions</b> and use them in classification.

> ### Take a deep breath, read the instructions again, and then start

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Load Libraries

In [ ]:
import pandas as pd 
import tensorflow as tf
from tensorflow import keras
import numpy as np 
import matplotlib.pyplot as plt
import os

from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from tensorflow.keras.layers import Embedding
import seaborn as sns
pd.set_option('display.max_colwidth', -1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

In [ ]:
import spacy
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import LSTM, GRU, Dense, Embedding, Dropout
from tensorflow.keras.preprocessing import text, sequence 
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
#for text cleaning
import string
import re
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
#for visualization
import matplotlib.pyplot as plt
from nltk.stem import WordNetLemmatizer 
from nltk.corpus import stopwords


import tensorflow as tf
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras import losses
from tensorflow.keras import metrics
from tensorflow.keras import optimizers
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer


from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from gensim import models
from sklearn.linear_model import LogisticRegression
import numpy as np
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from sklearn.metrics import accuracy_score ,confusion_matrix
import time
from sklearn.manifold import TSNE
from google.colab import files
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,recall_score,accuracy_score,precision_score
from mlxtend.plotting import plot_confusion_matrix
import tensorflow as tf
from tensorflow.keras.models import Model,Sequential
from tensorflow.keras.layers import Embedding,Dense,LSTM,Dropout,GlobalAveragePooling1D,Bidirectional
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.callbacks import ModelCheckpoint,EarlyStopping
from tensorflow.keras.utils import plot_model

## Load Dataset

In [ ]:
dataset = pd.read_json('/content/drive/MyDrive/Final Task/Dataset.json', lines=True)

dataset.head()

,category,headline,authors,link,short_description,date
0,CRIME,"There Were 2 Mass Shootings In Texas Last Week, But Only 1 On TV",Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-amanda-painter-mass-shooting_us_5b081ab4e4b0802d69caad89,She left her husband. He killed their children. Just another day in America.,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2018 World Cup's Official Song,Andy McDonald,https://www.huffingtonpost.com/entry/will-smith-joins-diplo-and-nicky-jam-for-the-official-2018-world-cup-song_us_5b09726fe4b0fdb2aa541201,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-grant-marries_us_5b09212ce4b0568a880b9a8c,The actor and his longtime girlfriend Anna Eberstein tied the knot in a civil ceremony.,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And Democrats In New Artwork,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carrey-adam-schiff-democrats_us_5b0950e8e4b0fdb2aa53e675,The actor gives Dems an ass-kicking for not fighting hard enough against Donald Trump.,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags To Pick Up After Her Dog,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-margulies-trump-poop-bag_us_5b093ec2e4b0fdb2aa53df70,"The ""Dietland"" actress said using the bags is a ""really cathartic, therapeutic moment.""",2018-05-26

## EDA

In [ ]:
 dataset.isnull().sum()

category             0
headline             0
authors              0
link                 0
short_description    0
date                 0
dtype: int64

In [ ]:
dataset=dataset.drop(['authors','link','date'],axis=1)

In [ ]:
dataset.head()

,category,headline,short_description
0,CRIME,"There Were 2 Mass Shootings In Texas Last Week, But Only 1 On TV",She left her husband. He killed their children. Just another day in America.
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2018 World Cup's Official Song,Of course it has a song.
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,The actor and his longtime girlfriend Anna Eberstein tied the knot in a civil ceremony.
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And Democrats In New Artwork,The actor gives Dems an ass-kicking for not fighting hard enough against Donald Trump.
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags To Pick Up After Her Dog,"The ""Dietland"" actress said using the bags is a ""really cathartic, therapeutic moment."""

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200853 entries, 0 to 200852
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   category           200853 non-null  object
 1   headline           200853 non-null  object
 2   short_description  200853 non-null  object
dtypes: object(3)
memory usage: 4.6+ MB

In [ ]:
dataset.describe()

        category        headline short_description
count   200853    200853          200853
unique  41        199344          178353
top     POLITICS  Sunday Roundup
freq    32739     90              19712

In [ ]:
dataset.duplicated().sum()

470

In [ ]:
print(dataset['category'].nunique())
dataset['category'].value_counts()

41

POLITICS          32739
WELLNESS          17827
ENTERTAINMENT     16058
TRAVEL            9887
STYLE & BEAUTY    9649
PARENTING         8677
HEALTHY LIVING    6694
QUEER VOICES      6314
FOOD & DRINK      6226
BUSINESS          5937
COMEDY            5175
SPORTS            4884
BLACK VOICES      4528
HOME & LIVING     4195
PARENTS           3955
THE WORLDPOST     3664
WEDDINGS          3651
WOMEN             3490
IMPACT            3459
DIVORCE           3426
CRIME             3405
MEDIA             2815
WEIRD NEWS        2670
GREEN             2622
WORLDPOST         2579
RELIGION          2556
STYLE             2254
SCIENCE           2178
WORLD NEWS        2177
TASTE             2096
TECH              2082
MONEY             1707
ARTS              1509
FIFTY             1401
GOOD NEWS         1398
ARTS & CULTURE    1339
ENVIRONMENT       1323
COLLEGE           1144
LATINO VOICES     1129
CULTURE & ARTS    1030
EDUCATION         1004
Name: category, dtype: int64

In [ ]:
categories = dataset['category'].value_counts().index

def groupper(grouplist,name):
    for categ in categories:
        if categ in grouplist:
            dataset.loc[dataset['category'] == categ, 'category'] = name

In [ ]:
groupper( grouplist= ['ENVIRONMENT' ,'GREEN'] , name =  'ENVIRONMENT')

groupper( grouplist= ['TECH', 'SCIENCE'] , name =  'SCIENCE AND TECH')

groupper( grouplist= ['FIFTY' , 'IMPACT' ,'GOOD NEWS','CRIME'] , name =  'GENERAL')

groupper( grouplist= ['WEDDINGS', 'DIVORCE',  'RELIGION','MEDIA'] , name =  'MISC')

groupper( grouplist= ['WELLNESS', 'HEALTHY LIVING','HOME & LIVING','STYLE & BEAUTY' ,'STYLE'] , name =  'LIFESTYLE AND WELLNESS')

groupper( grouplist= [ 'PARENTING', 'PARENTS' ,'EDUCATION' ,'COLLEGE'] , name =  'PARENTING AND EDUCATION')

groupper( grouplist= ['SPORTS','ENTERTAINMENT' , 'COMEDY','WEIRD NEWS','ARTS'] , name =  'SPORTS AND ENTERTAINMENT')

groupper( grouplist= ['TRAVEL', 'ARTS & CULTURE','CULTURE & ARTS','FOOD & DRINK', 'TASTE'] , name =  'TRAVEL-TOURISM & ART-CULTURE')

groupper( grouplist= ['WOMEN','QUEER VOICES', 'LATINO VOICES', 'BLACK VOICES'] , name =  'EMPOWERED VOICES')

groupper( grouplist= ['BUSINESS' ,  'MONEY'] , name =  'BUSINESS-MONEY')

groupper( grouplist= ['THE WORLDPOST' , 'WORLDPOST' , 'WORLD NEWS'] , name =  'WORLDNEWS')

In [ ]:
print(dataset['category'].nunique())
dataset['category'].value_counts()

12

LIFESTYLE AND WELLNESS          40619
POLITICS                        32739
SPORTS AND ENTERTAINMENT        30296
TRAVEL-TOURISM & ART-CULTURE    20578
EMPOWERED VOICES                15461
PARENTING AND EDUCATION         14780
MISC                            12448
GENERAL                         9663
WORLDNEWS                       8420
BUSINESS-MONEY                  7644
SCIENCE AND TECH                4260
ENVIRONMENT                     3945
Name: category, dtype: int64

In [ ]:
dataset.duplicated().sum()

473

In [ ]:
dataset.drop_duplicates(keep='last', inplace=True)

In [ ]:
print(len(dataset[dataset['headline'] == ""]))

6

In [ ]:
dataset.loc[dataset['headline'] == "", 'headline'] = np.nan
dataset.dropna(subset=['headline'], inplace=True)
print(len(dataset[dataset['headline'] == ""]))

0

In [ ]:
print(len(dataset[dataset['short_description'] == ""]))

19614

In [ ]:
dataset.loc[dataset['short_description'] == "", 'short_description'] = np.nan
dataset.dropna(subset=['short_description'], inplace=True)
print(len(dataset[dataset['short_description'] == ""]))

0

In [ ]:
from sklearn.utils import shuffle
df = shuffle(dataset)
df.reset_index(inplace=True, drop=True)

In [ ]:
dataset.head()

,category,headline,short_description
0,GENERAL,"There Were 2 Mass Shootings In Texas Last Week, But Only 1 On TV",She left her husband. He killed their children. Just another day in America.
1,SPORTS AND ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2018 World Cup's Official Song,Of course it has a song.
2,SPORTS AND ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,The actor and his longtime girlfriend Anna Eberstein tied the knot in a civil ceremony.
3,SPORTS AND ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And Democrats In New Artwork,The actor gives Dems an ass-kicking for not fighting hard enough against Donald Trump.
4,SPORTS AND ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags To Pick Up After Her Dog,"The ""Dietland"" actress said using the bags is a ""really cathartic, therapeutic moment."""

In [ ]:
dataset['text'] = dataset['headline'].astype(str)+" "+dataset['short_description']
# 
dataset.astype(str)
dataset.head()

,category,headline,short_description,text
0,GENERAL,"There Were 2 Mass Shootings In Texas Last Week, But Only 1 On TV",She left her husband. He killed their children. Just another day in America.,"There Were 2 Mass Shootings In Texas Last Week, But Only 1 On TV She left her husband. He killed their children. Just another day in America."
1,SPORTS AND ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2018 World Cup's Official Song,Of course it has a song.,Will Smith Joins Diplo And Nicky Jam For The 2018 World Cup's Official Song Of course it has a song.
2,SPORTS AND ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,The actor and his longtime girlfriend Anna Eberstein tied the knot in a civil ceremony.,Hugh Grant Marries For The First Time At Age 57 The actor and his longtime girlfriend Anna Eberstein tied the knot in a civil ceremony.
3,SPORTS AND ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And Democrats In New Artwork,The actor gives Dems an ass-kicking for not fighting hard enough against Donald Trump.,Jim Carrey Blasts 'Castrato' Adam Schiff And Democrats In New Artwork The actor gives Dems an ass-kicking for not fighting hard enough against Donald Trump.
4,SPORTS AND ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags To Pick Up After Her Dog,"The ""Dietland"" actress said using the bags is a ""really cathartic, therapeutic moment.""","Julianna Margulies Uses Donald Trump Poop Bags To Pick Up After Her Dog The ""Dietland"" actress said using the bags is a ""really cathartic, therapeutic moment."""

In [ ]:
dataset.drop(columns =['headline','short_description'],axis = 1, inplace=True)

In [ ]:
dataset.head()

,category,text
0,GENERAL,"There Were 2 Mass Shootings In Texas Last Week, But Only 1 On TV She left her husband. He killed their children. Just another day in America."
1,SPORTS AND ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2018 World Cup's Official Song Of course it has a song.
2,SPORTS AND ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57 The actor and his longtime girlfriend Anna Eberstein tied the knot in a civil ceremony.
3,SPORTS AND ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And Democrats In New Artwork The actor gives Dems an ass-kicking for not fighting hard enough against Donald Trump.
4,SPORTS AND ENTERTAINMENT,"Julianna Margulies Uses Donald Trump Poop Bags To Pick Up After Her Dog The ""Dietland"" actress said using the bags is a ""really cathartic, therapeutic moment."""

In [ ]:
dataset.drop_duplicates(subset=['text'],keep='last',inplace=True)

In [ ]:
dataset.duplicated().sum()

0

## Cleaning & Preprocessing

In [ ]:
dataset['text'] = dataset['text'].str.lower()
dataset.head()

,category,text
0,GENERAL,"there were 2 mass shootings in texas last week, but only 1 on tv she left her husband. he killed their children. just another day in america."
1,SPORTS AND ENTERTAINMENT,will smith joins diplo and nicky jam for the 2018 world cup's official song of course it has a song.
2,SPORTS AND ENTERTAINMENT,hugh grant marries for the first time at age 57 the actor and his longtime girlfriend anna eberstein tied the knot in a civil ceremony.
3,SPORTS AND ENTERTAINMENT,jim carrey blasts 'castrato' adam schiff and democrats in new artwork the actor gives dems an ass-kicking for not fighting hard enough against donald trump.
4,SPORTS AND ENTERTAINMENT,"julianna margulies uses donald trump poop bags to pick up after her dog the ""dietland"" actress said using the bags is a ""really cathartic, therapeutic moment."""

In [ ]:

def remove_abb(data):
    data = re.sub(r"he's", "he is", data)
    data = re.sub(r"there's", "there is", data)
    data = re.sub(r"We're", "We are", data)
    data = re.sub(r"That's", "That is", data)
    data = re.sub(r"won't", "will not", data)
    data = re.sub(r"they're", "they are", data)
    data = re.sub(r"Can't", "Cannot", data)
    data = re.sub(r"wasn't", "was not", data)
    data = re.sub(r"don\x89t", "do not", data)
    data= re.sub(r"aren't", "are not", data)
    data = re.sub(r"isn't", "is not", data)
    data = re.sub(r"What's", "What is", data)
    data = re.sub(r"haven't", "have not", data)
    data = re.sub(r"hasn't", "has not", data)
    data = re.sub(r"There's", "There is", data)
    data = re.sub(r"He's", "He is", data)
    data = re.sub(r"It's", "It is", data)
    data = re.sub(r"You're", "You are", data)
    data = re.sub(r"I'M", "I am", data)
    data = re.sub(r"shouldn't", "should not", data)
    data = re.sub(r"wouldn't", "would not", data)
    data = re.sub(r"i'm", "I am", data)
    data = re.sub(r"I\x89m", "I am", data)
    data = re.sub(r"I'm", "I am", data)
    data = re.sub(r"Isn't", "is not", data)
    data = re.sub(r"Here's", "Here is", data)
    data = re.sub(r"you've", "you have", data)
    data = re.sub(r"you\x89ve", "you have", data)
    data = re.sub(r"we're", "we are", data)
    data = re.sub(r"what's", "what is", data)
    data = re.sub(r"couldn't", "could not", data)
    data = re.sub(r"we've", "we have", data)
    data = re.sub(r"it\x89s", "it is", data)
    data = re.sub(r"doesn\x89t", "does not", data)
    data = re.sub(r"It\x89s", "It is", data)
    data = re.sub(r"Here\x89s", "Here is", data)
    data = re.sub(r"who's", "who is", data)
    data = re.sub(r"I\x89ve", "I have", data)
    data = re.sub(r"y'all", "you all", data)
    data = re.sub(r"can\x89t", "cannot", data)
    data = re.sub(r"would've", "would have", data)
    data = re.sub(r"it'll", "it will", data)
    data = re.sub(r"we'll", "we will", data)
    data = re.sub(r"wouldn\x89t", "would not", data)
    data = re.sub(r"We've", "We have", data)
    data = re.sub(r"he'll", "he will", data)
    data = re.sub(r"Y'all", "You all", data)
    data = re.sub(r"Weren't", "Were not", data)
    data = re.sub(r"Didn't", "Did not", data)
    data = re.sub(r"they'll", "they will", data)
    data = re.sub(r"they'd", "they would", data)
    data = re.sub(r"DON'T", "DO NOT", data)
    data = re.sub(r"That\x89s", "That is", data)
    data = re.sub(r"they've", "they have", data)
    data = re.sub(r"i'd", "I would", data)
    data = re.sub(r"should've", "should have", data)
    data = re.sub(r"You\x89re", "You are", data)
    data = re.sub(r"where's", "where is", data)
    data = re.sub(r"Don\x89t", "Do not", data)
    data = re.sub(r"we'd", "we would", data)
    data = re.sub(r"i'll", "I will", data)
    data = re.sub(r"weren't", "were not", data)
    data = re.sub(r"They're", "They are", data)
    data = re.sub(r"Can\x89t", "Cannot", data)
    data = re.sub(r"you\x89ll", "you will", data)
    data = re.sub(r"I\x89d", "I would", data)
    data = re.sub(r"let's", "let us", data)
    data = re.sub(r"it's", "it is", data)
    data = re.sub(r"can't", "cannot", data)
    data = re.sub(r"don't", "do not", data)
    data = re.sub(r"you're", "you are", data)
    data = re.sub(r"i've", "I have", data)
    data = re.sub(r"that's", "that is", data)
    data = re.sub(r"i'll", "I will", data)
    data = re.sub(r"doesn't", "does not",data)
    data = re.sub(r"i'd", "I would", data)
    data = re.sub(r"didn't", "did not", data)
    data = re.sub(r"ain't", "am not", data)
    data = re.sub(r"you'll", "you will", data)
    data = re.sub(r"I've", "I have", data)
    data = re.sub(r"Don't", "do not", data)
    data = re.sub(r"I'll", "I will", data)
    data = re.sub(r"I'd", "I would", data)
    data = re.sub(r"Let's", "Let us", data)
    data = re.sub(r"you'd", "You would", data)
    data = re.sub(r"It's", "It is", data)
    data = re.sub(r"Ain't", "am not", data)
    data = re.sub(r"Haven't", "Have not", data)
    data = re.sub(r"Could've", "Could have", data)
    data = re.sub(r"youve", "you have", data)  
    data = re.sub(r"dont", "do not", data)  
    return data

In [ ]:
dataset['text']=dataset['text'].apply(lambda z: remove_abb(z))

In [ ]:
nltk.download('stopwords')
stop_words = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
def clean_text(text):
    text = text.lower()
    text = re.sub('\[.*?\]', ' ', text)
    text = re.sub('https?://\S+|www\.\S+', ' ', text)
    text = re.sub('<.*?>+', ' ', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), ' ', text)
    text = re.sub('\n', ' ', text)
    text = re.sub('\w*\d\w*', ' ', text)
    text = re.sub('\W', ' ', text)
    text = re.sub(r'[-\(\)\"#\/@;:<>\{\}\-=~|\.\?]', ' ', text)
    text = re.sub(r'[^a-zA-Z0-9]', ' ', text)
    text = text.split()
    text = " ".join([word for word in text if not word in stop_words])
    return text

In [ ]:
dataset['text']=dataset['text'].apply(lambda z: clean_text(z))

In [ ]:
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
lemmatized_words = [lemmatizer.lemmatize(word) for word in dataset['text']]

In [ ]:
dataset['text'] = lemmatized_words

In [ ]:
dataset['text'][3]

'jim carrey blasts castrato adam schiff democrats new artwork actor gives dems ass kicking fighting hard enough donald trump'

In [ ]:
dataset.head()

,category,text
0,GENERAL,mass shootings texas last week tv left husband killed children another day america
1,SPORTS AND ENTERTAINMENT,smith joins diplo nicky jam world cup official song course song
2,SPORTS AND ENTERTAINMENT,hugh grant marries first time age actor longtime girlfriend anna eberstein tied knot civil ceremony
3,SPORTS AND ENTERTAINMENT,jim carrey blasts castrato adam schiff democrats new artwork actor gives dems ass kicking fighting hard enough donald trump
4,SPORTS AND ENTERTAINMENT,julianna margulies uses donald trump poop bags pick dog dietland actress said using bags really cathartic therapeutic moment

In [ ]:
X,Y = dataset['text'],dataset['category']

#80% to train , 20% for testing
# X_train, X_val, y_train, y_val = train_test_split(X,Y, test_size=0.2, random_state=42)
# X_val, X_test , y_val, y_test= train_test_split(X_val,y_val, test_size=0.5, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=42)
X_train, X_val , y_train, y_val= train_test_split(X_train,y_train, test_size=0.2, random_state=42)
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.2, random_state=42)

In [ ]:
vocab_size =20000
max_length = 150
trunc_type='post'
padding_type='post'
oov_tok = "<OOV>"

In [ ]:
tokenizer = tf.keras.preprocessing.text.Tokenizer(num_words = vocab_size, oov_token=oov_tok)
tokenizer.fit_on_texts(X_train)

word_index = tokenizer.word_index

X_train = tokenizer.texts_to_sequences(X_train)
X_train = pad_sequences(X_train,maxlen= max_length,padding=padding_type, truncating=trunc_type)
y_train = np.asarray(y_train)
y_train = pd.get_dummies(y_train)

X_val = tokenizer.texts_to_sequences(X_val)
X_val = pad_sequences(X_val,maxlen= max_length,padding=padding_type, truncating=trunc_type)
y_val = np.asarray(y_val)
y_val = pd.get_dummies(y_val)

train_set = np.array(X_train)
val_set = np.array(X_val)

train_label = np.array(y_train)
val_label = np.array(y_val)


y_test = pd.get_dummies(y_test)
y_test = np.asarray(y_test)
y_test = np.argmax(y_test,axis=1)   

print(train_set.shape)
print(train_label.shape)


print(val_set.shape)
print(val_label.shape)

(115681, 150)
(115681, 12)
(28921, 150)
(28921, 12)

# Embedding Matrix for our model

In [ ]:
!wget http://nlp.stanford.edu/data/glove.6B.zip #downloadingu glove vec word embeddings

--2022-07-21 09:48:03--  http://nlp.stanford.edu/data/glove.6B.zip
Resolving nlp.stanford.edu (nlp.stanford.edu)... 171.64.67.140
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://nlp.stanford.edu/data/glove.6B.zip [following]
--2022-07-21 09:48:04--  https://nlp.stanford.edu/data/glove.6B.zip
Connecting to nlp.stanford.edu (nlp.stanford.edu)|171.64.67.140|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://downloads.cs.stanford.edu/nlp/data/glove.6B.zip [following]
--2022-07-21 09:48:04--  https://downloads.cs.stanford.edu/nlp/data/glove.6B.zip
Resolving downloads.cs.stanford.edu (downloads.cs.stanford.edu)... 171.64.64.22
Connecting to downloads.cs.stanford.edu (downloads.cs.stanford.edu)|171.64.64.22|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 862182613 (822M) [application/zip]
Saving to: glove.6B.zip.4

glove.6B.zip.4        0%[                    ] 375.74K   550KB/s               ^C

In [ ]:
!unzip -q glove.6B.zip #unzipping

In [ ]:
path_to_glove_file =  './glove.6B.100d.txt'

In [ ]:
num_tokens = len(tokenizer.word_index.items()) + 2
embedding_dim = 100
hits = 0
misses = 0


embeddings_index = {}
with open(path_to_glove_file) as f:
    for line in f:
        word, coefs = line.split(maxsplit=1)
        coefs = np.fromstring(coefs, "f", sep=" ")
        embeddings_index[word] = coefs

print("Found %s word vectors." % len(embeddings_index))


embedding_matrix = np.zeros((num_tokens, embedding_dim))
for word, i in tokenizer.word_index.items():
    embedding_vector = embeddings_index.get(word)
    if embedding_vector is not None:

        embedding_matrix[i] = embedding_vector
        hits += 1
    else:
        misses += 1
print("Converted %d words (%d misses)" % (hits, misses))

Found 400000 word vectors.
Converted 60089 words (9249 misses)

## Modelling & Enhancement

In [ ]:
early_stop=tf.keras.callbacks.EarlyStopping(monitor='val_loss', 
                                            patience=3, min_delta=0.0001)


tf.keras.backend.clear_session()
embed_size = 100
model = keras.models.Sequential([
                                 
        Embedding(num_tokens,
        embedding_dim,
        embeddings_initializer=keras.initializers.Constant(embedding_matrix),
        mask_zero=True,input_shape=[None],trainable=False),
        keras.layers.Bidirectional(keras.layers.LSTM(256, dropout = 0.4)),
        keras.layers.Dense(12, activation="softmax")
            
        ])


model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, None, 100)         6934000

 bidirectional (Bidirectiona  (None, 512)              731136
 l)

 dense (Dense)               (None, 12)                6156

=================================================================
Total params: 7,671,292
Trainable params: 737,292
Non-trainable params: 6,934,000
_________________________________________________________________

In [ ]:
opt = keras.optimizers.Adam(learning_rate=0.001)
model.compile(loss="categorical_crossentropy", optimizer=opt, metrics=["accuracy"])
history = model.fit( train_set,train_label,
                     batch_size = 32,
                     steps_per_epoch=len(X_train) // 32, 
                     validation_data = (val_set , val_label),
                     validation_steps = len(val_set)//32, epochs=20,
                     callbacks=  early_stop )

Epoch 1/20
3615/3615 [==============================] - 79s 20ms/step - loss: 1.1461 - accuracy: 0.6325 - val_loss: 0.9737 - val_accuracy: 0.6875
Epoch 2/20
3615/3615 [==============================] - 70s 19ms/step - loss: 0.9678 - accuracy: 0.6869 - val_loss: 0.9057 - val_accuracy: 0.7082
Epoch 3/20
3615/3615 [==============================] - 70s 19ms/step - loss: 0.8988 - accuracy: 0.7073 - val_loss: 0.8807 - val_accuracy: 0.7183
Epoch 4/20
3615/3615 [==============================] - 79s 22ms/step - loss: 0.8465 - accuracy: 0.7238 - val_loss: 0.8649 - val_accuracy: 0.7218
Epoch 5/20
3615/3615 [==============================] - 69s 19ms/step - loss: 0.8061 - accuracy: 0.7353 - val_loss: 0.8646 - val_accuracy: 0.7216
Epoch 6/20
3615/3615 [==============================] - 69s 19ms/step - loss: 0.7703 - accuracy: 0.7448 - val_loss: 0.8731 - val_accuracy: 0.7229
Epoch 7/20
3615/3615 [==============================] - 69s 19ms/step - loss: 0.7390 - accuracy: 0.7538 - val_loss: 0.8809 - val_accuracy: 0.7218
Epoch 8/20
3615/3615 [==============================] - 70s 19ms/step - loss: 0.7197 - accuracy: 0.7608 - val_loss: 0.8748 - val_accuracy: 0.7240

## Final Results and Conclusion

In [ ]:
classes = dataset['category'].value_counts().index

def prediction(inference_data):
    X = tokenizer.texts_to_sequences(inference_data)
    X = pad_sequences(X,maxlen= max_length,padding=padding_type, truncating=trunc_type)
    pred = model.predict(X)
    pred_value = tf.argmax(pred,axis =1).numpy()                
    return pred_value

In [ ]:
y_pred = prediction(X_test)
print(classification_report(np.asarray(y_test),np.asarray( y_pred)))
cf_matrix = confusion_matrix(y_test, y_pred)

              precision    recall  f1-score   support

           0       0.62      0.53      0.57      1328
           1       0.66      0.50      0.57      2763
           2       0.55      0.56      0.56       656
           3       0.54      0.35      0.42      1552
           4       0.76      0.85      0.80      7716
           5       0.74      0.70      0.72      2267
           6       0.64      0.81      0.71      2788
           7       0.78      0.79      0.78      5922
           8       0.58      0.53      0.56       773
           9       0.72      0.72      0.72      5054
          10       0.81      0.77      0.79      3935
          11       0.69      0.72      0.71      1397

    accuracy                           0.72     36151
   macro avg       0.68      0.65      0.66     36151
weighted avg       0.72      0.72      0.72     36151